<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>805921001811-51733mqhsorf0rn2m9aq4kcvu2q5jpdh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.805921001811-51733mqhsorf0rn2m9aq4kcvu2q5jpdh</string>
	<key>API_KEY</key>
	<string>AIzaSyDdI9Pr-CUmaUknT2DFGGQuT78cpu98HH8</string>
	<key>GCM_SENDER_ID</key>
	<string>805921001811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cayo-cesar.chatFlutter</string>
	<key>PROJECT_ID</key>
	<string>chatflutter-7771e</string>
	<key>STORAGE_BUCKET</key>
	<string>chatflutter-7771e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:805921001811:ios:1a0801a27652d9e8e9d1a6</string>
	<key>DATABASE_URL</key>
	<string>https://chatflutter-7771e.firebaseio.com</string>
</dict>
</plist>